{% extends "odsApp/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
	&nbsp;
	<head>
		<meta charset="utf-8">
			<title>Objetivo 1: Fin de la pobreza</title>
				</head>
					<body>
						<div class="container">
							<div class="row">
								<div class = "col-log-8 col-md-10 mx-auto">
									{% if posts %}
										<center>{% for post in posts %}</center>
											<div class="post-preview">
												
													<center><h2 class="post-title">
														{{ post.titulo }}
													</h2></div></center>
												<center><h3 class="post-subtitle">
													{{ post.descripcion }}
												</h3></center>
												<center>{{post.contenido }}</center>
											
											<center><p class="post-meta">Escrito por 
											<a href="#">{{ post.autor }} </a>el
										{{ post.fecha_creacion }}</p></center>
										
										</div>
									</div>
								</div>
							</div>
		<hr>
			{% endfor %}
		{% else %}
			<h1>No hay post registrados</h1>
		{% endif %}
			{% if user.is_authenticated %}
		<center><h1><p class="post-meta"> <a href="{% url 'Admin_Nuevo' %}">Crear Post</p></a></h1></center>
	
	{% else %}
	<h1><a href="{% url 'login' %}">Logeate para crear una publicación</h1></a>

	{% endif %}
	<center><head><h1><a href="{% url 'Admin_Listar' %}">Mis publicaciones</a></h1></head></center>
		

	
</body>
</html>


{% endblock %}