{% extends "odsApp/base.html" %}

{% block content %}
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Objetivos de Desarrollo Sostenible</h1>
      <p class="fs-5 text-muted">En éste espacio se hará la difusión, visibilización y debate sobre iniciativas que contribuyan al cumplimiento de los 17 Objetivos de Desarrollo Sostenible incluidos en la Agenda 2030 de la ONU.</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-7 text-center" >
      <div class="col-xl-3 mx-auto"  >
        <div class="card mb-4 rounded-3 shadow-sm" >
          <div class="card-header py-3"  >
            <h4 class="my-0 fw-normal" >Objetivo 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Fin de la pobreza</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Poner fin a la pobreza en todas sus formas en todo el mundo</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Objetivo 2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Hambre 0</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Poner fin al hambre</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Objetivo 3</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Salud y bienestar</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Garantizar una vida sana y promover el bienestar para todos en todas las edades</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-7 text-center">
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" >
            <h4 class="my-0 fw-normal">Objetivo 4</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Educación y calidad</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Garantizar una educación inclusiva, equitativa y de calidad y promover oportunidades de aprendizaje durante toda la vida para todos</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Objetivo 5</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Igualdad de género</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Lograr la igualdad entre los géneros y empoderar a todas las mujeres y las niñas</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Objetivo 6</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Agua limpia y saneamiento</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Garantizar la disponibilidad de agua y su gestión sostenible y el saneamiento para todos</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-7 text-center">
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" >
            <h4 class="my-0 fw-normal">Objetivo 7</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Garantizar el acceso a una energía asequible, segura, sostenible y moderna</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Poner fin a la pobreza en todas sus formas en todo el mundo</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Objetivo 8</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Trabajo decente y crecimiento económico</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Promover el crecimiento económico inclusivo y sostenible, el empleo y el trabajo decente para todos</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
      <div class="col-xl-3 mx-auto">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Objetivo 9</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">industria, innovación e infraestructura</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Construir infraestructuras resilientes, promover la industrialización sostenible y fomentar la innovación</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
   
{% endblock %}
